/* Proper spacing*/
label {
  display: block;
  margin-bottom: 5px; /* Optional spacing between labels */
}

input {
  margin-bottom: 5px; /* Optional spacing between inputs */
}
h1 {
  text-align: center;
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px; /* Adds a slight curve for a polished look */
  padding: 10px 10px;
  margin: 6px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  border-radius: 10px 10px 10px 10px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Slightly darkens the button */
  color: var(--text-color);
  transform: translateY(5px); /* Lift effect for feedback */
  opacity: 1; /* Slight transparency for elegance */
}

button:active {
  transform: translateY(5px); /* Slight press effect */
}

button:focus {
  outline: 2px solid var(--text-color); /* Visible focus state */
  outline-offset: 2px;
}


/* ThemeSwitch */
:root {
  --bg-color: #E5E4E2; /*  Platinum White */
  --text-color: #282828; /*  Graphite Black */
  --button-bg-color: #C0C0C0; /*  ***** */
  --button-text-color: #282828; /*  Platinum White */
}
body 
 {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  transition: background-color 0.2s ease, color 0.2s ease;
  }
  .container {
    text-align: center;
    margin-top: 10px;
}

body.dark-mode {
    --bg-color: #282828;  /*  Graphite Black */
    --text-color: #E5E4E2; /*  Platinum White */
    --button-bg-color: #505050; /*  Platinum White */
    --button-text-color: #E5E4E2; /*  Graphite Black */
}

/* Animated Tabs */
.tab-container {
  width: 80%;
  height: auto;
  padding: 10px 10px;
  margin: auto;
  border: 1px solid #000000;
  border-radius: 5px;
  overflow: hidden;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 40px 40px 40px 0px rgba(0,0,0,0.75);
}

.tab-buttons {
  display: flex;
}

.tab-button {
  flex: 1;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease, padding 0.2s ease;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

.tab-button.active {
  padding: 10px 10px;
  margin: 10px;
  font-weight: bold;
  transform: scale(1.05); /* Slightly enlarge the active button */
  transition: transform 0.4s ease;
}

.tab-button:hover {
  margin: 10px;
  padding: 10px 10px; /* Slide effect on hover */
  transform: translateY(-1px); /* Lift the button slightly */
}

.tab-content {
  display: none;
  animation: fadeIn 0.2s ease; /* Animation for content fade-in */
}

.tab-content.active {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px); /* Content appears to slide up */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#charts {
  display: flex;
  flex-direction: column; /* Stack the charts vertically */
  gap: 10px; /* Add spacing between charts */
  max-width: 800px; /* Limit the overall width of the charts */
  margin: 0 auto; /* Center the charts on the page */
}

#charts div {
  text-align: center;
}

canvas {
  max-width: 100%; /* Ensure canvas scales responsively */
  height: auto;
}
